annotated-doc==0.0.5
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_resources==7.1.0
irc==20.5.0
jaraco.collections==5.2.1
jaraco.context==6.1.2
jaraco.functools==4.6.0
jaraco.logging==3.4.0
jaraco.stream==3.0.4
jaraco.text==4.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
more-itertools==11.1.0
Pygments==2.21.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pytz==2026.3.post1
rich==15.0.0
setuptools==84.0.0
shellingham==1.5.4
six==1.17.0
tempora==5.12.0
typer==0.27.2
typer-slim==0.24.0
typing_extensions==4.16.0
